name: "Test issue comments"
on:
  issue_comment:
    types: [created]

jobs:
  execute:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - run: npm install
      - run: npm run build
      - uses: ./
        with:
          prow-commands: '/assign /unassign /approve /retitle'
          github-token: "${{ secrets.GITHUB_TOKEN }}"
